modules = ["web", "nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Start Website"
author = 43356620
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "School_Website"

[[workflows.workflow]]
name = "School_Website"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33567
externalPort = 3003

[[ports]]
localPort = 39945
externalPort = 3001

[[ports]]
localPort = 43751
externalPort = 3002

[agent]
expertMode = true
integrations = ["github:1.0.0"]

[deployment]
deploymentTarget = "autoscale"
run = ["node", "server.js"]
